@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f1f1f1;
  --foreground: #000000;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: rgb(255, 255, 255);
    --foreground: #000000;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: monospace, Helvetica, sans-serif;
}
